//- First
a.btn.btn-warning.sq-border(class=`${disablePrev}` href=`${urlFirst}`)
    i.fa.fa-4x.fa-fw.fa-angle-double-left

//-  Prev
a.btn.btn-warning.sq-border(class=`${disablePrev}` href=`${urlPrev}`)
    i.fa.fa-4x.fa-fw.fa-angle-left

//- Next
a.btn.btn-warning.sq-border(class=`${disableNext}` href=`${urlNext}`)
    i.fa.fa-4x.fa-fw.fa-angle-right

//- Last
a.btn.btn-warning.sq-border(class=`${disableNext}` href=`${urlLast}`)
    i.fa.fa-4x.fa-fw.fa-angle-double-right